@import "../../css/variables";

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: $bp-mobile) {
  .buttonGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.frostedButton {
  background-color: #ffffff10;
  color: var(--ifm-font-color-base);
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--ifm-font-color-base);
    transform: scale(1.05);
  }

  backdrop-filter: blur(100px);
  border-radius: 20px;
  border: 1px solid var(--ifm-color-emphasis-400);
  margin: 16px;
  padding: 1rem;
  transition: 0.3s;
}
