@import "../../css/_variables.scss";

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: $bp-mobile) {
  .buttonGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.frostedButton {
  background-color: var(--raydium-button-transparent);
  // background-color: rgba(255, 255, 255, 0.9);
  @include z-index(homepageButtons);
  color: var(--ifm-font-color-base);
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--ifm-font-color-base);
    transform: translateY(-5px);
  }
  box-shadow: 0 8px 28px 4px rgb(86 91 115 / 15%);
  border-radius: 20px;
  border: 1px solid var(--ifm-color-emphasis-400);
  margin: 16px;
  padding: 16px;
  transition: 0.3s;
}

/* if backdrop support: very transparent and blurred (required for firefox...) */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .frostedButton {
    background-color: #ffffff10;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
  }
}
